<div class="text-center">
  <h2>Chỉnh sửa thông tin khách hàng</h2>
</div>

<div *ngIf="successMessage" class="alert alert-success">
  <p>{{successMessage}}</p>
</div>

<div *ngIf="failMessage" class="alert alert-danger">
  <p>{{failMessage}}</p>
</div>

<form #customerForm="ngForm" (ngSubmit)="editCustomer(customerForm)">
  <label class="col">
    <input type="hidden" [(ngModel)]="customer.id" name="id" ngModel class="form-control"/>
  </label>
  <label class="col">
    Tên khách hàng:
    <input type="text" [(ngModel)]="customer.name" name="name" ngModel class="form-control">
  </label>
  <label class="col">
    Địa chỉ:
    <input type="text" [(ngModel)]="customer.address" name="address" ngModel class="form-control">
  </label>
  <label class="col">
    Điện thoại:
    <input type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" ngModel class="form-control">
  </label>
  <div class="col">
    <button class="btn btn-info" type="submit">Submit</button>
  </div>
</form>
